html,
body {
  font-size: 0.14rem;
  line-height: 0.2rem;
}
input,
textarea {
  color: #666;
}
.font3 {
  color: #333;
}
.font6 {
  color: #666;
}
.font9 {
  color: #999;
  font-weight: normal;
}
.size14 {
  font-size: 0.14rem;
}
.size12 {
  font-size: 0.12rem;
}
.margin-top {
  margin-top: 0.08rem;
}
.van-empty__image {
  width: 260px;
}
.line1 {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.van-empty {
  background: #fff;
}
.van-overlay {
  z-index: 9;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.icon-name,
.timer,
.goodjob,
.icon-person,
.icon-star {
  color: #999;
  font-size: 0.12rem;
  padding-left: 0.18rem;
  background: url(../images/Icon/ic_time.png) left center no-repeat;
  background-size: 0.16rem 0.16rem;
}
.icon-name {
  background-image: url(../images/Icon/ic_list_client_grey.png);
}
.icon-star {
  background-image: url(../images/Icon/ic_star.png);
  margin-left: 0.1rem;
}
.icon-person {
  background-image: url(../images/Icon/ic_person.png);
}
.goodjob {
  background-image: url(../images/Icon/ic_praise.png);
}
.goodjob-active {
  background-image: url(../images/Icon/ic_praise_action.png);
  color: #0F7EE9;
}
.block-btn-fixed {
  position: fixed;
  bottom: 0.32rem;
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  color: #fff;
  width: calc(100vw - 0.32rem);
  margin: 0 0.16rem;
  display: block;
  text-align: center;
  background: #0F7EE9;
  border-radius: 0.08rem;
  font-size: 0.18rem;
}
.main-top {
  height: 2.04rem;
  position: fixed;
  width: 100%;
  z-index: 9;
  background: #fff;
}
.arrow-bottom {
  display: inline-block;
  width: 6px;
  height: 10px;
  background: url(../images/Icon/ic_arrow_line_down.png) center center no-repeat;
  background-size: 100% 100%;
  margin-right: 2px;
}
.arrow-top {
  display: inline-block;
  width: 6px;
  height: 10px;
  background: url(../images/Icon/ic_arrow_line_up.png) center center no-repeat;
  background-size: 100% 100%;
  margin-right: 2px;
}
.van-nav-bar {
  height: 0.44rem;
  background: #0F7EE9;
}
.van-nav-bar .van-nav-bar__title {
  color: #fff;
  font-size: 0.18rem;
}
.van-nav-bar .icon {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.van-nav-bar .back {
  background-image: url(../images/Icon/ic_nav_back.png);
}
.van-nav-bar .screen {
  background-image: url(../images/Icon/ic_nav_screen.png);
}
.van-nav-bar .add {
  background-image: url(../images/Icon/ic_nav_add.png);
}
.font-blue {
  color: #0F7EE9;
}
.main-menu {
  height: 1.04rem;
}
.main-menu a {
  font-size: 0;
  display: flex;
  height: 1.04rem;
  justify-content: center;
  align-items: center;
}
.main-menu a .block {
  text-align: center;
}
.main-menu .icon {
  display: inline-block;
  width: 0.48rem;
  height: 0.48rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin-bottom: 0.04rem;
}
.main-menu .menu {
  font-size: 0.14rem;
  color: #333;
  margin: 0px;
}
.main-menu .menu-icon1 {
  background-image: url(../images/Icon/ic_home_sales_task.png);
}
.main-menu .menu-icon2 {
  background-image: url(../images/Icon/ic_home_client.png);
}
.main-menu .menu-icon3 {
  background-image: url(../images/Icon/ic_home_approval_process.png);
}
.main-menu .menu-icon4 {
  background-image: url(../images/Icon/ic_home_report.png);
}
.main-tab {
  border-bottom: 0.1rem solid #F8F8F8;
}
.main-tab .van-tab {
  -webkit-align-items: start;
  align-items: start;
}
.main-tab .van-tabs__wrap,
.main-tab .van-tabs__nav--line {
  height: 0.56rem;
  overflow: hidden;
}
.main-tab .van-tab__text {
  font-size: 12px;
  width: 48px;
  overflow: hidden;
  -webkit-line-clamp: unset;
  text-align: center;
  margin-top: 0.15rem;
  line-height: 1.3;
}
.main-tab .van-tab--active {
  color: #0F7EE9;
}
.page-tab .van-tabs__wrap,
.page-tab .van-tabs__nav--line {
  height: 0.48rem !important;
}
.page-tab .van-tab--active {
  color: #0F7EE9;
}
.main-panel,
.page-panel,
.flow-panel {
  background: #f8f8f8;
  padding-top: 2.14rem;
}
.main-panel .panel {
  background: #fff;
  margin-bottom: 0.1rem;
  padding-top: 0.16rem;
}
.main-panel .chart-title {
  padding-left: 0.36rem;
  font-size: 0.14rem;
  color: #0F7EE9;
  background: url(../images/Icon/ic_sales_forecast.png);
  background-size: 0.16rem 0.16rem;
  background-repeat: no-repeat;
  background-position-x: 0.16rem;
  background-position-y: center;
  margin: 0 0 0.02rem 0;
}
.main-panel .chart-tips {
  font-size: 0.13rem;
  margin: 0rem 0rem 0rem 0.36rem;
  color: #0F7EE9;
  opacity: 0.8;
}
.page-panel {
  background: #fff;
  padding: 0;
}
.page-panel .van-swipe-cell__wrapper {
  padding: 0.16rem 0.16rem 0.16rem 0.44rem;
  background: #fff;
  position: relative;
}
.page-panel .van-swipe-cell__wrapper::before {
  position: absolute;
  content: '项';
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  left: 0.16rem;
  top: 0.16rem;
  background: #f8b224;
  border-radius: 4px;
  font-size: 0.1rem;
  color: #fff;
  text-align: center;
  line-height: 0.2rem;
}
.page-panel .van-swipe-cell__wrapper::after {
  position: absolute;
  content: '';
  bottom: 0.01rem;
  left: 0.16rem;
  right: 0.16rem;
  height: 0.01rem;
  background: #e5e5e5;
  opacity: 0.5;
}
.page-panel .van-swipe-cell__wrapper h4 {
  margin: 0;
  font-size: 0.14rem;
  color: #333;
  line-height: 0.2rem;
}
.page-panel .van-swipe-cell__wrapper p {
  font-size: 0.14rem;
  text-align: right;
  color: #999;
  margin: 0.08rem 0 0.1rem 0;
}
.page-panel .van-swipe-cell__wrapper p span {
  color: #0f7ee9;
}
.page-panel .van-swipe-cell__wrapper .between .left {
  font-size: 0.14rem;
  color: #999;
}
.page-panel .van-swipe-cell__wrapper .between .left span {
  color: #666;
}
.page-panel .van-search {
  background: #f8f8f8;
}
.page-panel .van-search__content {
  background: #fff;
}
.page-panel .red::before {
  content: '非';
  background: #FF5252;
}
.page-panel .van-swipe-cell__right .van-button {
  height: 100%;
}
.page-panel .van-swipe-cell__right .van-button--info {
  background: #0F7EE9;
  border: #0F7EE9;
}
.flow-panel {
  background: #f8f8f8;
}
.flow-panel .panel {
  background: #fff;
  margin-bottom: 0.1rem;
  padding-top: 0.16rem;
}
.flow-panel .chart-title {
  padding-left: 0.36rem;
  font-size: 0.14rem;
  color: #0F7EE9;
  background: url(../images/Icon/ic_sales_forecast.png);
  background-size: 0.16rem 0.16rem;
  background-repeat: no-repeat;
  background-position-x: 0.16rem;
  background-position-y: center;
  margin: 0 0 0.02rem 0;
}
.flow-panel .chart-tips {
  font-size: 0.13rem;
  margin: 0rem 0rem 0rem 0.36rem;
  color: #0F7EE9;
  opacity: 0.8;
}
.font-blue {
  color: #0F7EE9 !important;
}
.font24 {
  font-size: 0.24rem;
}
.font16 {
  font-size: 0.16rem;
}
.font-red {
  color: #FF5252 !important;
}
.text-center {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow-panel {
  background: #fff;
  padding: 0;
}
.flow-panel .van-swipe-cell__wrapper {
  padding: 0.16rem 0.16rem 0.16rem 0.44rem;
  background: #fff;
  position: relative;
}
.flow-panel .van-swipe-cell__wrapper::before {
  position: absolute;
  content: ' ';
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  left: 0.16rem;
  top: 0.16rem;
  border-radius: 4px;
  font-size: 0.1rem;
  background: url(../images/Icon/ic_list_flow.png) center center no-repeat;
  background-size: 100% 100%;
}
.flow-panel .van-swipe-cell__wrapper::after {
  position: absolute;
  content: '';
  bottom: 0.01rem;
  left: 0.16rem;
  right: 0.16rem;
  height: 0.01rem;
  background: #e5e5e5;
  opacity: 0.5;
}
.flow-panel .van-swipe-cell__wrapper h4 {
  margin: 0;
  font-size: 0.14rem;
  color: #333;
  line-height: 0.2rem;
}
.flow-panel .van-swipe-cell__wrapper p {
  font-size: 0.14rem;
  text-align: right;
  color: #999;
  margin: 0.08rem 0 0.1rem 0;
}
.flow-panel .van-swipe-cell__wrapper p span {
  color: #0f7ee9;
}
.flow-panel .van-swipe-cell__wrapper .between .left {
  font-size: 0.14rem;
  color: #999;
}
.flow-panel .van-swipe-cell__wrapper .between .left span {
  color: #666;
}
.menu-list {
  display: inline-block;
  position: absolute;
  top: 0.44rem;
  right: 0.16rem;
  width: 1.14rem;
  padding-top: 0.08rem;
  background-image: url(../images/popupmenu_arrow.png);
  background-position-x: 0.85rem;
  background-position-y: 0rem;
  background-size: 0.16rem 0.08rem;
  background-repeat: no-repeat;
}
.menu-list ul {
  background: #fff;
  border-radius: 3px;
}
.menu-list ul li {
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0 0.05rem;
  border-bottom: 1px solid #e5e5e5;
}
.menu-list ul li span {
  color: #333;
  display: inline-flex;
  align-items: center;
}
.menu-list ul li span img {
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  margin: 0 0.08rem;
}
.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loading,
.pageEmpty {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 0.14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nb {
  margin: 0px;
}
.nav-height {
  height: 0.44rem;
}
.nav-height .van-nav-bar {
  position: fixed;
  width: 100%;
}
.search-height {
  height: 2.14rem;
  width: 100%;
  background: #f8f8f8;
}
.search-list {
  height: calc(100vh - 2.14rem);
  overflow-y: scroll;
}
.page-scroll {
  height: calc(100vh - 0.44rem);
  overflow-y: scroll;
}
.picker .van-cell__value {
  background: url(../images/Icon/ic_list_arrow_right.png) right center no-repeat;
  background-size: 0.24rem 0.24rem;
  padding-right: 0.24rem;
}
.van-cell-group {
  margin-bottom: 0.08rem;
}
.page-grey {
  min-height: 100vh;
  background: #F8F8F8;
}
.van-cell-group .van-cell {
  padding: 0.14rem 0.16rem;
  font-size: 0.16rem;
}
.van-cell-group .van-cell::after {
  border-bottom: 1px solid #e5e5e5 !important;
}
.van-cell-group .van-cell .img-icon {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.04rem;
}
.van-cell-group .van-cell .fixed {
  display: flex;
  align-items: center;
}
.van-cell-group .van-cell .van-field__label {
  color: #333;
}
.van-cell-group .van-cell .cell-title {
  margin: 0;
  font-size: 0.16rem;
  display: flex;
  align-items: center;
  height: 0.24rem;
}
.van-cell-group .van-cell .cell-title span.icon {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  background-size: 0.24rem 0.24rem;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 0.04rem;
}
.van-cell-group .van-cell .cell-title span.icon.base-info {
  background-image: url(../images/Icon/ic_list_basic_Info.png);
}
.van-cell-group .van-cell .cell-title span.icon.phase-info {
  background-image: url(../images/Icon/ic_list_task_phase.png);
}
.van-cell-group .van-cell .cell-title span.icon.preferment-info {
  background-image: url(../images/Icon/ic_list_preferment.png);
}
.van-cell-group .van-cell .cell-title span.icon.icon-client {
  background-image: url(../images/Icon/ic_list_client.png);
}
.van-cell-group .van-cell .cell-title span.icon.icon-client-grey {
  background-image: url(../images/Icon/ic_list_client_grey.png);
}
.van-cell-group .van-cell .cell-title span.icon.value-info {
  background-image: url(../images/Icon/ic_list_valuable_info.png);
}
.van-cell-group .van-cell .cell-title span.icon.icon-zh {
  background-image: url(../images/Icon/ic_list_competitor.png);
}
.van-cell-group .van-cell .height40 {
  margin-bottom: 0.14rem;
}
.van-cell-group .van-cell .require {
  color: #ee0a24;
  font-size: 14px;
  margin-left: -0.06rem;
}
.van-cell-group .van-cell .thin {
  font-weight: normal;
}
.van-cell-group .van-cell .icon-add {
  font-size: 0.14rem;
  color: #0F7EE9;
  padding-left: 0.24rem;
  background: url(../images/Icon/ic_list_add.png) left top no-repeat;
  background-size: 0.24rem 0.24rem;
  display: inline-block;
}
.van-cell-group .van-cell .icon-file {
  margin: 0px;
  font-size: 0.14rem;
  padding-left: 0.24rem;
  background: url(../images/Icon/ic_list_log.png) left top no-repeat;
  background-size: 0.24rem 0.24rem;
}
.van-cell-group .van-cell .icon-add-file {
  margin: 0px;
  background: url(../images/Icon/ic_list_add_cricle.png) left top no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 100% 100%;
}
.van-cell-group .van-cell .icon-radio {
  margin: 0px;
  background: url(../images/Icon/ic_list_tick.png) left top no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 100% 100%;
}
.van-cell-group .van-cell .icon-flow {
  margin: 0px;
  padding-left: 0.24rem;
  background: url(../images/Icon/ic_list_flow.png) left top no-repeat;
  background-size: 0.24rem 0.24rem;
}
.van-cell-group .van-cell .font-blue {
  color: #0F7EE9 !important;
}
.van-cell-group .van-cell .font-red {
  color: #FF5252 !important;
}
.van-cell-group .van-cell .text-center {
  text-align: center;
}
.van-cell-group .van-cell .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.van-cell-group .van-cell .step-bg {
  background: url(../images/Icon/ic_arrow_right.png) center center no-repeat;
  background-size: 0.32rem 0.32rem;
  display: inline-block;
  height: 0.32rem;
  width: 0.32rem;
}
.van-cell-group .van-cell .text-area {
  width: 100%;
  font-size: 0.14rem;
  border: 1px solid #e5e5e5;
  padding: 0.08rem;
  box-sizing: border-box;
  resize: none !important;
  height: 0.56rem;
  border-radius: 3px;
}
.van-cell-group .van-cell ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}
.van-cell-group .van-cell :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
.van-cell-group .van-cell ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
.van-cell-group .van-cell :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}
.circle {
  position: relative;
  display: inline-block;
  height: 64px;
  width: 64px;
  border: 3px solid #0F7EE9;
  border-radius: 50%;
}
.circle .box {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  overflow: hidden;
}
.circle .box .percent {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: #0F7EE9;
  font-size: 16px;
}
.circle .box .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  background: #0F7EE9;
  transition: all 0.3s;
}
.circle .box .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.circle .box .water_wave_back {
  right: 0;
  fill: #C7EEFF;
  -webkit-animation: wave-back 1.4s infinite linear;
  animation: wave-back 1.4s infinite linear;
}
.circle .box .water_wave_front {
  left: 0;
  fill: #0F7EE9;
  margin-bottom: -1px;
  -webkit-animation: wave-front 0.7s infinite linear;
  animation: wave-front 0.7s infinite linear;
}
@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}
@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}
.block-btn {
  height: 0.48rem;
  line-height: 0.48rem;
  color: #fff;
  margin: 0.32rem 0.16rem;
  display: block;
  text-align: center;
  background: #0F7EE9;
  border-radius: 0.08rem;
  font-size: 0.18rem;
}
.line-btn {
  height: 0.48rem;
  line-height: 0.48rem;
  color: #fff;
  text-align: center;
  font-size: 0.18rem;
}
.line-btn.btn-red {
  background: #FF5252;
}
.line-btn.btn-blue {
  background: #0F7EE9;
}
.position-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.btn-group {
  margin: 0.32rem 0.16rem;
}
.danger-btn {
  background: #FF5252;
}
.info-btn {
  background: #ccc;
}
.fixed-btn {
  height: 0.48rem;
  line-height: 0.48rem;
  color: #fff;
  display: block;
  text-align: center;
  border-radius: 0.08rem;
  font-size: 0.18rem;
}
.search-box {
  box-sizing: border-box;
  padding: 0.16rem 0 0 0;
  text-align: center;
  background: #fff;
  width: 100%;
  z-index: 2;
}
.search-box .searchBig {
  display: inline-block;
  height: 0.48rem;
  width: 0.48rem;
  background: url(../images/Icon/ic_search_big.png) left top no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.16rem;
}
.search-box p {
  margin: 0;
}
.more {
  color: #0F7EE9;
  font-size: 0.14rem;
}
.rightPart {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  text-align: left;
  color: #666;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.wrapper .block {
  width: 3rem;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.wrapper .block .title {
  font-size: 0.18rem;
  height: 0.65rem;
  line-height: 0.65rem;
  text-align: center;
  color: #0F7EE9;
  display: block;
}
.van-overlay .van-cell-group,
.van-overlay .overlay-btn-group {
  margin: 0;
}
.van-field__control {
  color: #666;
}
.tips-red {
  color: #ee0a24;
  text-align: center;
  font-size: 12px;
}
.van-divider {
  border-color: #e5e5e5;
  color: #333;
  margin: 0 0.24rem;
  font-weight: bold;
}
.title2 {
  text-align: center;
  color: #999;
  margin: 0.04rem 0 0 0;
}
.appraise-table-box {
  margin: 0.16rem 0.12rem 0 0.12rem;
  padding-bottom: 0.5rem;
}
.appraise-table-box table {
  width: 100%;
}
.appraise-table-box table tr th {
  background: #0F7EE9;
  color: #fff;
  font-weight: normal;
  height: 0.32rem;
}
.appraise-table-box table tr td {
  background: #F8F8F8;
  color: #999;
  height: 0.32rem;
  text-align: center;
}
.van-cell--clickable .van-cell__title {
  flex: 1;
}
.van-cell--clickable .van-cell__value {
  flex: 2.2;
  text-align: left;
  color: #666;
}
.van-cell--clickable .van-cell__right-icon {
  color: #ccc;
}
